@import "tailwindcss";
@tailwind utilities;

@layer utilities {

  /* THIS IS FOR THE REGISTRATION PAGE*/
  .form-label {
    @apply text-wiseOffWhite text-base font-medium
  }

  .form-control {
    @apply text-wiseOffWhite border-b border-wiseSkin
  }

  .registration-component {
    @apply h-screen 
      bg-bgMain 
      flex 
      justify-center 
      items-center 
      bg-[url('../../../public/assets/wise_people_grid_3.webp')] 
      bg-contain
      relative
  }
}


@theme {
  --color-nearBlack: #040300;
  --color-bgMain: #0F1225;
  --color-wiseNavy: #161E3F;
  --color-russianBlue: #444B65;
  --color-wiseDarkPink: #C46565;
  --color-wiseSkin: #E59998;
  --color-ultMutePink: #F4C1C1;
  --color-wisePaleGrey: #E7E8EC;
  --color-wiseOffWhite: #F2F2F2;
}

